# Byte-compiled / optimized / DLL files
__pycache__/
*.DS_Store
*.log
.vscode/

# data-nci/
/data-nci/raw_data
/data-nci/form_data

# Middle Data Processes
/data-nci/init_data
/data-nci/init_manual_data
/data-nci/map_cell_line
/data-nci/map_manual_cell_line

# Result
# /data-nci/result

# data-oneil/
/data-oneil/raw_data
/data-oneil/form_data

# Middle Data Processes
/data-oneil/init_data
/data-oneil/init_manual_data
/data-oneil/map_cell_line
/data-oneil/map_manual_cell_line

# Result
# /data-oneil/result
